<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-YYY HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="SeleniumAppender" fileName="C:\\Users\\Shivkumar.K\\Selenium-Workspace\\DataDrivenFramework\\src\\test\\resources\\com\\shiv\\logs\\Selenium.log" append="true">
            <PatternLayout pattern="%d{dd-MM-YYY HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.shiv" level="debug" additivity="true">
            <AppenderRef ref="SeleniumAppender"/>
        </Logger>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>